// Styling for the call to action section
.call-to-action {
  height: 300px;
  padding: 90px 0;
  background-image: url("../img/pleiades_bgi_2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // text-shadow: 2px 2px black;
  color: white;
  h2 {
    margin: 0 auto 20px;
  }
  .btn.btn-default.btn-xl.sr-button {
    text-shadow: 0px 0px black;
  }
}
